.footer{
   // position: fixed;
    background-color: #070707;
    height: 5%;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    display: block;
  }

  .txts {
      color: white;
      font-size: 15px;
  }

  .github_icon {
    margin-left: 10px;
    color: white;
  }