//PALETTES
$colorBlack: #000000;
$colorNeonGreen: #3eff3f;
$colorWhite: white;
$colorGreen: #59a644;
$colorBlue: #00b0c8;
$colorDarkBlue: #5b9fa8;


.characters {
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-rows: auto 1fr auto auto;
  width: 300px;
  padding-bottom: 15px;

  @include tablet() {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    justify-content: center;
  }
  @include desktop() {
    display: grid;
/*     grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  }
  &__li {
    border-radius: 15px;
    margin-top: 25px;

    &:hover {
      transform: scale(1.02);
      box-shadow: 8x 8px 10px $colorNeonGreen;
    }
    &--art {
      border: 4px solid $colorBlue;
      border-radius: 15px;
      box-shadow: 5px 5px 10px $colorDarkBlue;

      @include tablet() {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 250px;
      }

      &-img {
        border-radius: 11px;
        @include tablet() {
        }
      }
      &-info {
        padding: 15px;
        &-name {
          font-size: 1rem;
        }
      }
      &-Link {
        color:$colorBlack;
      }
    }
  }
}