.locations {
    display: grid;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  grid-template-rows: auto 1fr auto auto;
  width: 300px;
  padding-bottom: 15px;
  margin-left: 21.5rem;
}