.link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 50px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #9ADADA;
    background-color: #180022;
    transition: color .3s, background .5s;
    cursor: pointer;
    @include tablet() {
        flex-direction: row;
        width: auto;
      }
  }
  .link:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, #9ADADA 25%, #180022 25%, #180022 50%, #9ADADA 50%, #9ADADA 75%, #180022 75%, #180022);
    background-size: 10px 10px;
    color: #F9F675;
  }
  @keyframes stripes {
    0% {background-position: 0 0;}
    100% {background-position: 50px 0;}
  }