/* .pag {
  background-color: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag button {
  font-size: 1rem;
  background-color: rgb(2, 2, 2);
  outline: none;
  color: white;
  padding: 2px;
  border-radius: 100px;
  ;
}

.pag button:hover {
  outline: none;
  border: none;
  background-color: rgb(210, 203, 160);
}

.pag button.active {
  background-color: rgb(37, 37, 37);
}

.pag-link {
  text-decoration: none;
  color: white;
  cursor: default;
} */

/*  .pag {
  width: 100%;
  background-color:rgb(2,2,2);
  display:inline-block !important;
  justify-content:space-between ;
  align-items: center;
  
  outline: none;
  border: none;
  background-color:rgb(2,2,2);
}

.pag-link-right {
  border-radius: 100px;
}

.pag-link-left {
  border-radius: 100px;

} 

.page-item {
  font-size: 1.2rem;
  background-color: rgb(2,2,2);
  outline: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.05rem;
  border: none;

  text-decoration: none !important;
  color: white;
  cursor: default;

}

li {
  padding: 5px;
  display: inline-block;
  font-size: 1.2rem;
  min-width: 10px;
  margin-left: 10px;
  text-decoration: none;
 
}  */
